<input type="hidden" id="teacherId">
<div class="modal fade" id="assignedClassroomModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <table id="assignedclassdatatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%">
          <thead>
            <tr>
              <th class="text-center" scope="col">ON</th>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Quantity</th>
              <th scope="col">Activated</th>
              <th scope="col" style="width: 200px">Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->