<footer class="footer">
  <input type="hidden" id="api" name="api" value="<%= api %>" />
  <input type="hidden" id="websitebase" name="website" value="<%= base %>" />

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block">
          Crafted with <i class="mdi mdi-heart text-danger"></i> by
          <a href="https://themesbrand.com/" target="_blank" class="text-reset"
            >Themesbrand</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
