<div id="nav-missing" role="tabpanel" aria-labelledby="nav-missing-tab" class="tab-pane fade mt-3">
  <table id="missingdatatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%">
    <thead>
      <tr>
        <th class="text-center" scope="col">ON</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>