<div id="nav-answers" role="tabpanel" aria-labelledby="nav-answers-tab" class="tab-pane fade show active mt-3">
  <table id="answerdatatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%">
    <thead>
      <tr>
        <th class="text-center" scope="col">ON</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col" style="width: 200px">Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<%- include("./modals/classwork-mark-form-fill") %>