<div class="modal fade" id="textQuizFormFillModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-lg modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Add New Text Quiz</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="textQuizFormFill" action="<%= api %>/quiz/add" method="POST">
          <textarea name="" id="" cols="30" rows="4"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="textFormFill" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
