<div class="modal fade" id="courseFormFillModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <input class="form-control" type="hidden" value="" id="edit-id-input" />
        <form id="course-edit-profile">
          <div class="mb-3 row">
            <label for="edit-name-input" class="col-md-3 col-form-label">Name</label>
            <div class="col-md-9">
              <input class="form-control" type="text" value="" name="name" id="edit-name-input" />
            </div>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->