<div
  id="nav-students"
  role="tabpanel"
  aria-labelledby="nav-students-tab"
  class="tab-pane fade show active mt-3"
>
  <div class="row mb-2">
    <div class="col-md-6"></div>
  </div>
  <table
    id="studentdatatable"
    class="table table-bordered dt-responsive nowrap"
    style="border-collapse: collapse; border-spacing: 0; width: 100%"
  >
    <thead>
      <tr>
        <th class="text-center" scope="col">ON</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Activated</th>
        <th scope="col">Last access</th>
        <th scope="col" style="width: 200px">Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<%- include("../Users/modals/user-skill-form-fill") %> <%- include("../Reviews/modals/review-form-fill") %>
<%- include("../Users/modals/user-note-form-fill") %>
