<div class="modal fade" id="lessonFormFillModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <form id="lessonFormFill" action="<%= api %>/lesson/add" method="POST" novalidate>
          <input type="hidden" name="group" value="<%= classroomId %>" />
          <div class="mb-3 row">
            <label for="lessonTitle" class="col-md-3 col-form-label" >Title</label>
            <div class="col-md-9">
              <input class="form-control" type="text" name="title" id="lessonTitle" required=""/>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="lessonDate" class="col-md-3 col-form-label">Date</label>
            <div class="col-md-9">
              <input class="form-control" type="datetime-local" name="date" id="lessonDate" required=""/>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
          <button type="submit" form="lessonFormFill" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->