<div
  class="modal fade"
  id="watchAnswerModalScrollable"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row" id="div-attachment">
          <label for="edit-attachment-input" class="col-md-3 col-form-label"
            >File submit</label
          >
          <div class="col-md-9 col-form-label">
            <div id="watch-atttachment"></div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
