<div class="modal fade" id="diagnosesClassroomFormFillModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form id="diagnosesClassroomFormFill" action="<%= api %>/logbook/add" method="POST" novalidate>
          <input type="hidden" class="form-data" name="group" value="<%= classroomId %>" />
          <div id="diagnosticCheckList" class="border">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
          <button type="submit" form="diagnosesClassroomFormFill" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->