<div
  id="nav-no-review-yet"
  role="tabpanel"
  aria-labelledby="nav-no-review-yet-tab"
  class="tab-pane fade mt-3"
>
  <!-- end row -->
  <table
    id="revieweddatatable"
    class="table table-bordered dt-responsive nowrap"
    style="border-collapse: collapse; border-spacing: 0; width: 100%"
  >
    <thead>
      <tr>
        <th class="text-center" scope="col">ON</th>
        <th scope="col">Student</th>
        <th scope="col" style="width: 200px">Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
